<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <div class="lead buffer-bottom">
      В вашей форме <%= I18n.t :errors_count, count: errors.count %>
    </div>

      <% errors.full_messages.each do |message| %>
        <div class="alert btn-danger my-btn" role="alert">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <% end %>
  </div>
<% end %>